// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#iine {
    margin-top: 20px;
    margin-right: 8px;
    text-align: center;
}

#iine_count {
    margin-top: 25px;
    font-size: 20px;
    color: violet;
}

.border-item {
    border: 1px solid gainsboro;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
}

.index-font {
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    border-bottom: 1px solid  whitesmoke;
}