// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-font {
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    border-bottom: 1px solid  whitesmoke;
}

.border-item {
    border-bottom: 1px solid gainsboro;
    border-radius: 3px;
    margin-bottom: 13px;
    padding: 10px;
    width: 80%;
}

.border-item:last-child {
    border-bottom: none;
    border-radius: 3px;
    margin-bottom: 13px;
    padding: 10px;
    width: 80%;
}


/* item-show */
.item-show-padding {
    margin-top: 30px;
}

.item-show-detail {
    margin-top: 30px;
}

.song-order {
    width: 100px;
}

.song-name {
    width: 600px;
}

.item-show-font {
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    border-bottom: 1px solid  whitesmoke;
    color: darkblue;
}

#cart_item_quantity {
    margin:10px 20px 40px 5px;
    height: 25px;
}

.cart-btn {
    width: 120px;
}

//ranking
.rank-title {
    color: rgba(218, 165, 32, 0.5);
    font-weight: bold;
}

.ranking-border {
    background-color: rgba(218, 165, 32, 0.2);
    border-top: 1px solid rgba(218, 165, 32, 0.8);
    border-bottom: 1px solid rgba(218, 165, 32, 0.8);
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 50px;
}   

.rank-item {
    border-right: 1px solid rgba(218, 165, 32, 0.3);
    width: 150px !important;
    text-align: center;
}

.rank-description {
}

.rank-item:last-child {
    border: 0;
}

.rank-item:first-child {
    margin-left: 10px;
}

.rank-name {
    padding-top: 15px;
    font-weight: bold;
}

.rank_1 {
    color: rgba(218, 165, 32, 0.9);
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

.rank_1::before {
    content: "👑";
}

.rank_2, .rank_3, .rank_4, .rank_5 {
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}


//category(partial)
.border-category {
    padding: 5px;
    border: 1px solid burlywood;
    border-radius: 5px;
}

.category-font {
    font-size: 18px;
}

.category-box {
    height: 440px;
    border: 1px solid black;
}

.category-logo {
    border: 1px solid tan;
    border-radius: 20px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    background-image: url(compass-2946959__480.jpg);
    background-position: center;
}

.logo-text {
    font-size: 24px;
    color: white;
}

.category-group {

}

.category {
    padding: 15px 50px 8px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(244, 208, 90, 0.5);
    width: 80%;
    margin: 0 auto;
}

.category:first-child {
    padding: 30px 50px 8px;
}

.category-box {
    border: 1px solid rgba(210, 180, 140, 0.9);
    border-radius: 25px;
    background-color: rgba(250, 240, 230, 0.5);
}

.category-padding {
    margin-top: 20px;
}


//anchor
.anchor {
    margin-top: 70px;
    text-align: center;
    width: 35%;
    height: 50px;
    margin: 70px auto 20px;
    background-color: rgba(238, 232, 170, 0.5);
    border-radius: 15px;
}

.anchor-text {
    font-size: 20px;
    line-height: 50px;
    
}
