// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-btn {
    margin-top: 20px;
}

.another-address {
    padding: 15px 0 8px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
}

.prof-order {
    padding: 15px 0 8px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
}

.prof-fav {
    padding: 15px 0 8px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
}

.prof-edit {
    padding: 15px 0 8px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
}

.prof-remove {
    padding: 15px 0 8px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
}