
  <footer>
    <div class="container">
      
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <span>© 1996-2019, World_collectors.com, Inc. or its affiliates</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-8">
            <% if user_signed_in? %>
              <%= link_to " お問い合わせ", new_contact_path, class:"footer-msg" %>
            <% end %>
          </div>
        </div>

    </div>
  </footer>
