<body>
  <header class="navbar navbar-inverse">
    <div class="container">
      <nav class='nav navbar-nav navbar-left' >
        <li><%= link_to " お問い合わせ ", new_contact_path %></li>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
        <span>© 1996-2019, World_collectors.com, Inc. or its affiliates</span>
        </ul>
      </nav>
    </div>
  </header>
</body>